<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- Define handler for server.js -->
    <handlers>
      <!-- All requests should be handled by iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Reroute requests from /nai to server.js -->
        <rule name="RewriteToServerJS" stopProcessing="true">
          <match url="^nai/(.*)" />
          <conditions>
            <!-- Only reroute if the requested file does not exist -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <!-- Rewrite to server.js -->
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Ensure error responses are passed through to the client -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Production mode for Node.js -->
    <iisnode node_env="production" />
    
  </system.webServer>
</configuration>
